DirectoryIndex index.php
AddDefaultCharset windows-1251

Options -Indexes
Options FollowSymLinks

php_flag register_globals off
php_flag magic_quotes_gpc off

#php_value error_reporting 0
#php_flag display_errors Off

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^bulldoc_site/(.+)\.(jp?g|png|gif|txt)$ workshop/source/bulldoc/pages/$1.$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^([^/]+)/(.+)\.(jp?g|png|gif|txt)$ workshop/source/$1/pages/$2.$3 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?colesoRequestPath=$1 [L,QSA]
